{% load static %}
    <section id="about" class="wrapper style1 fullscreen spotlights">
        <section>
            <a href="#" class="image"><img src="{%static 'images/hand_xray.jpg'%}" alt="" data-position="center center" /></a>
            <div class="content">
                <div class="inner">
                    <h2>About us</h2>
                    <p>RSNA Bone Age Detection.</p>
                    <p>
                        Contact: +91 9999999999<br/>
                        E-mail: xxxxxx@yyy.zzz
                    </p>
                    <ul class="actions">
                        <li><a href="#intro" class="button">Back to home</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </section>

