{% load static %}
    <section id="signup" class="wrapper style2 fullscreen fade-up">
            <div class="inner">
                <div class="split style1">
                    <section>
                        <h2>Sign Up / Login</h2>
                                <div class="fields">
                                    <div class="field half">
                                        
                                    </div>
                                </div>
                                <ul class="actions">
                                    <li><a href="{% url 'social:begin' 'google-oauth2' %}?next=/" class="button submit">Login with Google</a></li>
                                </ul>
                    </section>
                </div>	
            </div>
    </section>
